*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../imgs/background.jpeg);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
.back2{
    background-image: url(../imgs/romanos.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.back3{
    background-image: url(../imgs/RIVERSIDE-RIO-LIMA-PONTE-DE-LIMA-PORTUGAL-scaled.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    box-shadow: 0 0.1rem 0.5rem white;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    
    justify-content: space-around;
width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}
.mob{
    display: none;
    cursor: pointer;
}
.mob div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 70%;
    }
}

@media screen and (max-width: 768px){
   body{
    overflow-x: hidden;
   }
   
    .nav-links{
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
   }
   .nav-links li{
    opacity: 0;
    
   }
   .mob{
    display: block;
   }
}

.nav-active{
    transform: translate(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

