@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);



.info{
    padding: 30px;
    font-family: sans-serif;
   
    
}

.titulo {
    text-align: center;
    font-size: 7vw;
}
.texto2  {
    background-color: rgb(255, 255, 255,0.4);
    
    
    
}
.texto2  hr{
    background-color: rgb(255, 255, 255,0.4);
    
}
p{
    text-align: justify;
    font-size: 3vw;
    opacity: 1;
    
}

main{
    flex: 1;
}


.titulo2{
    text-align: center;
    font-size: 7vw;
}
.text2{
    text-align: justify;
    font-size: 3vw;
}

.container-video{
    max-width: 1000px;
    margin: 0 auto;
  
}
.yt-holder{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 50%;

}
.yt-holder > iframe{
    position: absolute;
    object-position: center;
    width: 70%;
    height: 70%;
}


img{
    
    overflow: clip;

}
.Turismo img{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
}
.Turismo .imagemMonumento{
    text-align: center;
}
.Turismo{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    
    flex-wrap: wrap;
}
.caixa {
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background-color: rgb(255, 255, 255,0.4);
    box-shadow: 0px 0px 5px 0px rgb(141, 246, 253);
    border-radius: 0.5em;
    max-width: 450px;
}

.tit{
    text-align: center;
    font-size: 3vw;
}
.text3{
    text-align: justify;
    font-size: 2vw;
}
@media screen and (max-width: 768px){
    .tit{
        text-align: center;
        font-size: 4vw;
    }
    .text3{
        text-align: justify;
        font-size: 4vw;
    }
}

.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: rgb(255, 255, 255,0.4);
    box-shadow: 0px 0px 10px 0px #666;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
    
}
.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}
.contact-form h1{
    margin-bottom: 10px;
}
.contact-form-txt{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
   
}
.contact-form-txt::placeholder{
    color: #aaa;
}
.contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
   
}
.contact-form-txtarea::placeholder{
    color: #aaa;
}
.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}